<ion-view class="text-left" align-title="left" view-title='hipages Oracle'>
    <ion-nav-title>
        <img class="logo" src="https://assets.homeimprovementpages.com.au/images/hui/hipages-logo-simple.svg" />
    </ion-nav-title>
    <ion-content class="padding">
        <div ng-hide="clicked">
            <form ng-hide="mostRelevant.person">
                <div ng-hide="processing">
                    <h5 class="padding-top padding-left padding-right text-center text-grey">We understand not knowing who can help you with certain jobs around the home can be stressful.</h5>
                    <h5 class="padding-top padding-left padding-right text-center text-grey">Don't worry! Take a snap and we'll identify the best trade for you.</h5>
                    <input type="file" accept="image/*" image="image" resize-max-height="500" resize-max-width="300" resize-quality="0.8" class="custom-file-input" file-model="oracleFile" />
                </div>
                <p ng-show="imageReturned" class="text-center" style="margin-top: 10px">One moment... I'm interpreting your image now.</p>
                <p class="text-center" style="margin-bottom: 0"><ion-spinner ng-show="processing" icon="dots"></ion-spinner></p>
                <div ng-show="imageReturned" class="col clearfix max-height-300"><img src="{{imageReturned}}" class="col" /></div>

                <button ng-show="processing" class="button button-block button-stable">
                    <span>{{progressButtonStatus}}</span>
                </button>
            </form>

            <div ng-show="mostRelevant.person" class="animate-show padding-top">
                <h4 class="normal">You need a ...</h4>
                <button class="button button-block button-light">
                    {{mostRelevant.person}}
                </button>
                <a class="button button-block button-balanced" href="#" ng-click="callLink(mostRelevant.practice_seo_key)">
                    Yep, let's go
                </a>
                <a ng-click="showSuggestedCategories();" class="calm block text-center">Not what you had in mind?</a>
            </div>
        </div>

        <div ng-show="clicked" class="animate-show">
            <div class="card">
                <div class="item item-text-wrap">
                    Oops! Sorry, I haven't had my morning coffee today. What about these?
                    <ion-list-item ng-repeat="category in categories">
                        <button class="button button-block button-balanced" ng-click="callLink(category.practice_seo_key)">{{category.person}}</button>
                    </ion-list-item>
                    <a href="#/tab/oracle" class="calm block text-center">Help make me wiser</a>
                </div>
            </div>
            <!--<a ng-click="refreshUpload()" class="calm block text-center">Back</a>-->
        </div>
        <p ng-hide="mostRelevant.person" class="text-center padding-top text-grey-muted">I'm still in <em>beta</em>!</p>
    </ion-content>
</ion-view>